#reset {
  width: 80%;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 15px;
  color: var(--c-verydarkcyan); 
  background: var(--c-cyan);
  font-weight: 800;
  font-size: 1.5rem;
  cursor: pointer;

  &:hover {
    background: var(--c-lightgrayishcyan);
    border: 1px solid var(--c-lightgrayishcyan);
  }
}
