.tip {
  padding: 15px 30px;
  margin: 4px;
  width: 15%;
  background: var(--c-verydarkcyan);
  border: 1px solid var(--c-verydarkcyan);
  border-radius: 10px;
  color: var(--c-lightgrayishcyan);
  text-align: center;
  font-weight: 700;
  font-size: 1.3rem;
  cursor: pointer;

  &:hover {
    background: var(--c-cyan);
    border: 1px solid var(--c-cyan);
    color: var(--c-verydarkcyan);
  }

  &.active {
    background: var(--c-darkgrayiscyano);
    border: 1px solid var(--c-darkgrayiscyano);
    color: var(--c-verydarkcyan);
  }

  @media (min-width: $medium) {
    font-size: 1.5rem;
  }
}

.custom {
  width: 15%;
  padding: 15px 30px;
  margin: 4px;
  border: 1px solid var(--c-verydarkcyan);
  border-radius: 10px;
  font-family: var(--f-font), mono;
  text-align: center;
  color: var(--c-verydarkcyan);

  &:hover {
    border: 1px solid var(--c-cyan);
  }
}
