:root {
--c-verydarkcyan: #00494d;
--c-dargrayishcyan: #5e7a7d;
--c-darkgrayiscyano: #7f9c9f;
--c-gray: #6c7d7f;
--c-lightgrayishcyan: #c5e4e7;
--c-lightgrayishcyano: #f4fafa;
--c-cyan: #26c2ad;
--c-white: #ffffff;
--f-font: 'Space Mono';
}

$medium: 1200px;
